body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container-top-bar{
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:  #2f7fa7;
  text-transform: uppercase;
  width: 100%;
  top: 0;
  left: 0;
}

.container-top-bar-left{
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 15px;
}
  
.logo{
  display: flex;
  width: 55px;
  height: 55px;
}

.top-bar-conteudo{
  display: flex;
  gap: 30px;
  padding-left: 35px;
  font-size: 14px;
  }


.top-bar-conteudo>a{
  color: initial;
  text-decoration: none;
}

.container-top-bar-right{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: end;
  gap: 30px;
  padding-right: 30px;
}

.top-bar-contatos{
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100px;
  padding-left: 250px;
  gap: 0px;
}

.logo2{
  display: flex;
  width: 25px;
  height: 25px;
  padding-left: 20px;
  padding-top: 0px;
}

.hamburger-menu{
  display: flex;
  margin-bottom: 35px;
  margin-right: 25px;
}

.logo3{
  display: flex;
  width: 25px;
  height: 25px;
}

.container-cabecalho{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #277196;
  height: 260px;
  padding-top: 30px;
}

.cabecalho-titulo{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center; 
  
}

.container-cabecalho-infos{
   display: flex;
   flex-direction: row;
   margin-left: 100px;
} 
 
.foto{
  width:60px;
  height: 60px;
  border-radius: 20px;
}

.cabecalho-infos{
  display: flex;
  flex-direction: column;
  
}

.infos{
  padding-top: 6px;
  padding-left: 20px;
  font-size: 14px;
  
}

.descricao{
  font-size: 18px;
  height: 150px;
  margin: auto;  
  padding: 35px 350px;
  
  background-color: #e6e6b7
}



.container-topico{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  background-color: lightyellow;

}

.container-corpo{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;

  padding-top: 0;
  margin: auto;
  text-decoration: none;
  
  
  
  
}
.container-topico-itens{
  height: 400px;
  padding-top: 0;
  font-size: 14px;
  font:initial;
  text-decoration: none;
  line-height: 0.7;
  margin-bottom: 30px;
}

/* .separa-1-e-2{
  display: flex;
}

.divide-container1{
  width: 50%;
  align-items: center;
  margin: auto;
}

.divide-container2{
  width: 50%;
  align-items: center;
  padding-left: 50px;
}

.home-page-container>a{
  display: flex;
}

h3{
  text-transform: uppercase;
  text-align: start;
  padding-left: 290px;
  font-size: 22px;
  color: initial;
  padding-top: 60px;
}

.home-page-working-imagens{
 text-decoration: none;
}

.working-imagens{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 140px;
  margin-bottom: 20px;
}

.working-imagem1{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 140px;
  margin-bottom: 20px;
}

.working-imagem2{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 140px;
  margin-bottom: 20px;
}

.working-texto1{
  margin: auto;
  padding-left: 30px;
  color: initial;
  margin-right: 0;
  padding-bottom: 80px;
}

working-texto{
  padding-bottom: 80px;
  margin-left: 60px;
}


 */





@media(max-width:670px){
.container-top-bar{
}

.cabecalho-titulo{
  padding-left: 30px;
}

  .descricao{
   
   display: flex;
    width: 500px;
    padding: 5%
  }
  


.top-bar-contatos{
  display: none;
}

.hamburger-menu{
  margin-bottom: 0;
  margin-right: 0;
}  
}
/* css formulario */



.container-formulario{
  display: flex;
  flex-direction: column;
  background-color: rgba(47,127,167,0.5);
  align-items: center;
  margin: auto;
 
}

.titulo{
  display: flex;
  font-size: 16px;
  margin-bottom: 5px;
  padding-top: 30px;
  padding-left: 30px;
  color: white;
}

#meu-nome{
  width: 400px;
  font-size: 13px;
  margin-bottom: 10px; 
  padding: 8px;
}

#meu-nome:focus{
 outline:#5c8693 solid 1px;
}
  
.entrada-texto{
}

#email{
  font-size: 13px;
  padding: 8px;
  margin-bottom: 10px;
  width: 400px;
}

#email:focus{
  outline: #5c8693 solid 1px;
}

#telefone{
  width: 400px;
  margin-bottom: 12px;
  font-size: 13px;
  padding: 8px;
}

#telefone:focus{
  outline: #5c8693 solid 2px;
}

#web-site{
  width: 400px;
  margin-bottom: 12px;
  font-size: 13px;
  padding: 8px;
}

#mensagem{
  font-family: 'Roboto', sans-serif;
  width: 97%;
  margin-bottom: 18px;
  padding-left: 10px;
  height: 100px;
  resize: none;
  font-size: 13px;

}

input[type="submit"]:hover{
  opacity: 0.4;
  cursor: pointer;
}

#atualizacao{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 18px;
}

#submit{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 40px;
  background-color: #2f7fa7;
  font-size: 14px; 
  color:white;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}





